.navbar {
    grid-area: navbar;
    position: fixed;
    background-color: #f4f4f4;
    width: 15rem;
    height: 50rem;
}

.denomination {
    position: relative;
    display: block;
    background: linear-gradient(45deg, #c1b0c8, #715678);
    width: 100%;
    height: 40%;
}

.logo {
    position: relative;
    width: 110px;
    padding-top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.logo img {
    height: 110px;
}

.social_network_name {
    color: white;
    cursor: default;
    font-size: 15px; 
    text-align: center;
}

.login_or_profile {
    position: absolute;
    background-color: white;
    cursor: default;
    border-radius: 1rem;
    left: 50%;
    bottom: 50%;
    transform: translate(-50%);
    width: 80%;
    height: 25%;
}

.navigation {
    position: relative;
    top: 7rem;
    left: 50%;
    transform: translate(-35%) ;
    display: grid;
    grid-template-areas: 
    'profile dialogs'
    'friends photo'
    'users settings' ;
    grid-template-columns: 4rem 4rem;
    grid-template-rows: 4rem 4rem 4rem;
    gap: 2rem;
    width: 100%;
    height: 100%;
}

.profile { grid-area: profile; }
.dialogs { grid-area: dialogs; }
.friends { grid-area: friends; }
.users { grid-area: users; }
.settings { grid-area: settings; }
.photo { grid-area: photo; }

@media (max-width: 1000px) {
    .navbar {
        width: 5rem;
    }

    .denomination {
        height: 15%;
    }

    .logo {
        padding-top: 0;
        width: 80px;
        top: 50%;
        transform: translate(-50%, -50%)
    }

    .logo img {
        height: 80px;
    }

    .social_network_name {
        display: none;
    }

    .login_or_profile {
        display: none;
    }

    .navigation {
        width: 50px;
        top: 2rem;
        bottom: 0;
        transform: translate(-50%) ;
        display: grid;
        grid-template-areas: 
        'profile' 'dialogs' 'friends' 'photo' 'users' 'settings';
        grid-template-rows: 4rem 4rem 4rem 4rem 4rem 4rem;
        gap: 1rem;
    }
}