.item {
    text-decoration: none;
    color: #939393
}

.item:hover {
    color: #715678;
}

.active {
    text-decoration: none;
    color: #715678;
}

.dialog {
    display: grid;
    grid-template-areas: 
    'img name'
    'img message';
    grid-template-columns: 4rem;
    grid-template-rows: 1.75rem;
    width: 20rem;
    height: 3.5rem;
    margin-bottom: 0.5rem;
    padding: 0.2rem;
    border: #c2c6c5 solid 0.1rem;
    border-radius: 1rem;
}

.dialog:hover {
    width: 20rem;
    border-color: #715678;
    padding: 0.5rem 0.2rem;

}

.comrade_img {
    grid-area: img;
    border-radius: 3rem;
    width: 50px;
    height: 50px;
}

.comrade_name {
    grid-area: name;
}

.comrade_message {
    grid-area: message;
    color: #939393
}