.App {
  display: grid;
  grid-template-areas: 
  'navbar header'
  'navbar content';
  grid-template-columns: 15rem;
  grid-template-rows: 7% 93%;
  position: fixed;
  width: 100%;
  height: 100%;
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
}

.header {
  position: relative;
  grid-area: header;
  padding-top: 1rem;
  left: 1rem;
  border-bottom: rgb(194, 198, 197) solid 0.1rem;
}

.content {
  grid-area: content;
}

.active_friends {
  grid-area: active_friends;
}

@media (max-width: 1000px) {
  .App {
    grid-template-columns: 5rem;
  }  
}